.Auth {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  height: 100vh;
  background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100%);
}

.Auth > div {
  min-width: 600px;
  padding: 0 20px;
}

.title {
  color: #fff;
  font-size: 50px;
  text-align: center;
  margin: 0;
}

.AuthForm {
  background: #eee;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 5px;
}
